*{
    font-family: 'Lexend Deca', sans-serif;
    font-style: bold;
    font-weight: 400;
    text-align: center;
}

body{
    background-color: wheat;   
}

#image{
    max-width: 3%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.selection{
    border-radius: 12px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

#somber{
    color: #c50080;
}