<!DOCTYPE html>
<html>    
    <head>
        {% block head %}
        <title>Somber</title>
        <link rel="icon" href="change_here.png" type="image/png">
        
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}" />
        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% endblock %}
        </body>
</html>