{% extends 'home.html' %}

{% block head %}
{% endblock %}


{% block body %} 
<h1>Welcome to<div id="somber">Somber</div></h1>
        <div id="intro">
            <p>This is a simple chatroom created to circumvent the NY phone ban. Feel free to reach out to suggest new potential updates in the future. Stay connected!</p>
        </div>
        <div class="footer">
            <a href="https://www.instagram.com/ga._cs/" target="_blank">
                <img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram Logo" id="image">
            </a>
            <a href="https://github.com/T1M1D0" target="_blank">
                <img src="{{ url_for('static', filename='Github.png') }}" alt="GitHub Logo" id="image">
            </a>
            
        </div>
{% endblock %}